/* ================= RESET ================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-body: 'Lato', sans-serif;
    --font-heading: 'Noto Serif', serif;
}

body {
    font-family: var(--font-body);
    background: white;
    color: #111;
}
* {
    -webkit-tap-highlight-color: transparent; /*Remove the blue highlight in mob*/
}

/* ================= CONTAINER ================= */
.container{

    max-width:1200px;
    margin:auto;
      padding:0 20px;
}

/* ================= NAVBAR ================= */
.hamburger{
    display:none;
    cursor:pointer;
}

.hamburger img{
    width:28px;
}
.navbar {
    padding: 20px 0;
    background: transparent;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 600;
    font-size: 18px;
}

.nav-links ul {
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 14px;
    color: #4F4F4F;
    cursor: pointer;
    font-family: var(--font-body);
    font-weight: 500;
    align-items: center;
    
}

/* Anchor styling */
.nav-links a {
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    color: inherit;
}
.nav-links a:hover{
    color: rgba(250, 122, 119, 1);
}
.mobile-back{
    display: none;
}

/* Dropdown panel - Full Width Setup */
.dropdown-panel{
     opacity:0;
    transform: translateY(15px);
    pointer-events:none;
    transition: all 0.25s ease;

    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    background: white;
    padding: 40px 0;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    z-index: 1000;
    border-top: 2px solid rgba(229, 228, 228, 1);
    font-family: var(--font-body)
}

/* display on hover*/
.dropdown-panel.active{
    opacity:1;
    transform: translateY(0);
    pointer-events:auto;
}

.panel-container {
    max-width: 1200px;      
    margin: 0 auto;
    padding: 0 20px;
}
/* Feature Title Styling */
.panel-title {
    font-size: 18px;
    color: #333;
    margin-bottom: 50px;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    
}

/* Gradient line under FEATURES */
.panel-title::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 70px;             /* Length of the line */
    height: 2px;
    background: linear-gradient(to right, #ff7a77, #f76b1c);
}

/* Hollow Circle at the end of the line */
.panel-title::before {
    content: '';
    position: absolute;
    bottom: -13px;           /* Aligns vertically with the line */
    left: 70px;              /* Positions exactly at the end of the 50px line */
    width: 6px;              /* Circle diameter */
    height: 6px;             /* Circle diameter */
    border: 2px solid #ff7a77;
    border-radius: 50%;
    background: white;
    z-index: 2;
}

/* Grid Layout for 3 Columns */
.features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 60px 80px;         /* Row gap and Column gap */
    margin-bottom: 40px;
    width: 100%;
}

.feature-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.feature-item h4 {
    font-size: 14px;
    color: #222;
    margin-bottom: 8px;
    position: relative;
}

/* Red line under Feature Names */
.feature-item h4::after {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background: #ff7a77;
    margin-top: 4px;
    
}

.feature-item p {
    font-size: 11.8px;
    color: #777;
    line-height: 1.5;
    font-weight: 500;
}

.nav-links .dropdown-panel .discover-link {
    color: #ff7a77;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    margin-top: 5px;
}

/* Specific CSS for Resources and Company (4 Columns) */
.resources-panel .features-grid,
.company-panel .features-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    column-gap: 40px; 
    row-gap: 30px;
    width: 100%;
}
.company-panel {
    padding-bottom: 1px; 
}

.resources-panel {
    padding-bottom: 25px;
}

.resources-panel .features-grid {
    margin-bottom: 0; 
}


.nav-actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.login {
    text-decoration: none;
    color: #444;
    font-size: 14px;
    margin-right: 20px;
    font-weight: 500;
}


/* ================= HERO SECTION ================= */
.hero {
    padding: 50px 20px 0;
    text-align: center;
    position: relative;
    overflow: hidden; 
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%; 
    background-image: radial-gradient(rgba(220, 220, 220, 0.5) 1px, transparent 1px);
    background-size: 22px 22px;
    pointer-events: none; 
    z-index: -1;
}
.hero-content {
    max-width: 900px;
    margin: auto;
}

.hero h1 {
    font-size: 60px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 20px;
    font-family: var(--font-heading);
}

.hero h1 span {
    background: linear-gradient(
        90deg,
        rgba(169, 32, 146, 0.758) 0%,
        rgba(250, 122, 119, 1) 50%,
        rgb(255, 122, 119) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.hero p {
    font-size: 14px;
    color: #666;
    margin: 0 auto 35px;
    font-family: var(--font-body);
    max-width: 350px;   
    line-height: 1.6;
    font-weight: 500;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 60px;
}


/* ================= HERO IMAGE ================= */
.hero-image {
    position: relative;
    display: flex;
    justify-content: center;
}

/* Image */
.hero-image img {
    width: 100%;
    max-width: 950px;
    border-radius: 30px;
    position: relative;
    z-index: 2;
    border: 10px solid #ada6a65d;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.08);
}

/* Common Glow Style */
.glow {
    position: absolute;
    z-index: 0;
    filter: blur(50px);
    pointer-events: none;
   
}

/* Top Glow */
.glow-top {
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
    width: 65%;
    height: 55%;

    background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(229, 68, 114, 0.47) 0%,
        rgba(229, 68, 114, 0) 100%
    );
}

/* Left Glow */
.glow-left {
    top: 30%;
    left: -90px;
    transform: translateY(-50%);
    width: 45%;
    height: 75%;

    background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(229, 68, 114, 0.35) 0%,
        rgba(229, 68, 114, 0) 100%
    );
}

/* Right Glow */
.glow-right {
    top: 30%;
    right: -90px;
    transform: translateY(-50%);
    width: 45%;
    height: 75%;

    background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(229, 68, 114, 0.35) 0%,
        rgba(229, 68, 114, 0) 100%
    );
}

.hero-image::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 600px;

   background: linear-gradient(
    to bottom,
    rgba(255,255,255,0) 10%,
    rgba(247,247,249,0.6) 50%,
    #F7F7F9 70%
);
    border-radius: 30px;
    pointer-events: none;
    z-index: 3;
}


/* features Section Styles */
.features-detail {
    padding: 70px 0 10px;
    background-color: #f4f4f4;
    margin-top: -200px;
    z-index: 4;
    position: relative;
    
}

.section-heading {
    text-align: center;
    font-family: var(--font-heading);
    font-size: 52px;
    font-weight: 500;
    margin-bottom: 50px;
    color: #111;
}

.section-heading span {
    background: linear-gradient(
        20deg, 
           rgba(181, 120, 238, 0.997)0%, 
        rgba(250, 122, 119, 1) 50%, 
      rgba(254, 74, 151, 1)100%
    );
    
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline-block;
}

/* Flexbox Row Setup */
.detail-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin-bottom: 80px;
    width: 100%;
}

.detail-row.reversed {
    flex-direction: row-reverse;
}


/* Content Width Management */
.detail-image, .detail-text {
    flex: 1;
}

.image-gradient-border {
    display: inline-block;
    /* Top: 8px, Sides: 3px, Bottom: 3px */
    padding: 15px 4px 4px 4px; 
    border-radius: 20px;
    background: linear-gradient(
        90deg, 
        rgba(164, 84, 239, 0.799) 0%, 
        rgba(250, 122, 119, 1) 50%, 
          rgba(254, 74, 151, 1)100%
    );
    line-height: 0;
}
.detail-image{
    flex: 0 0 auto;
}
.detail-image img {
width: 100%;     
    max-width: 450px; 
    height: auto;  
    border-radius: 17px;
    display: block;
   box-shadow: 0px 66px 34.3px -46px rgba(30, 34, 77, 0.37);
}
.detail-text {
    flex: 1;
    max-width: 533px;
   
}

.detail-label {
    display: block;
    font-size: 10px;
    font-weight: 700;
    color: #fa7a77;
    text-transform: uppercase;
    letter-spacing: 1.5px; 
    margin-bottom: 20px;
}

.detail-text h3 {
    font-family: var(--font-body);
    font-size: 20px;
    font-weight: 700;
    color: #1a1a1a;
    margin-bottom: 20px;
    line-height: 1.2;
}

.detail-text p {
    font-size: 13.6px;
    line-height: 1.6;
    color: #666;
    margin-bottom: 40px;
    text-align: left; 
   font-weight: 500;
    max-width: 580px; 
}


/*STEP SECTION*/
.steps-outer-wrapper {
    background-color: #f4f4f4; 
}
.steps-section {
  padding: 60px  0;
  text-align: center;
 border-radius: 100px;
 background-color: white;

}


/* Title */
.section-title {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 10px;
  font-family: var(--font-heading);
}

.section-title span {
     background: linear-gradient(
        70deg, 
           rgba(190, 125, 251, 0.803)0%, 
        rgba(250, 122, 119, 1) 50%, 
      rgb(226, 68, 136)100%
    );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  
}

.section-subtitle {
  color: #777;
  margin-bottom: 60px;
  font-size: 11px;
  font-weight: 500;
}

/* Grid layout */
.steps-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;

  max-width: 1070px;   
  margin: 0 auto;     /* center align */
}

/* Card */
.step-card {
  position: relative;
  background: rgba(255, 255, 255, 1);
  padding: 40px;
  border-radius: 20px;
  text-align: left;
  transition: 0.3s ease;
  border-style: solid;
  border-color: transparent;
  border-width: 6px 1px 1px 1px;
  background: linear-gradient(#fff, #fff) padding-box, 
              linear-gradient(90deg, rgba(165, 84, 239, 1) 0%, rgba(250, 122, 119, 1) 50%, rgba(254, 74, 151, 1) 100%) border-box;

}

.step-card:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

/* Step images */
.step-image {
  text-align: center;
}

.step-card > .step-image:first-child {
  margin-bottom: 40px;
}

.step-card > .step-image:last-child {
  margin-top: 30px;
}

.step-image img {
  max-width: 100%;
  height: auto;
}

/* Headings */
.step-card h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

/* Paragraph */
.step-card p {
  font-size: 12px;
  color: #666;
  line-height: 1.5;
  font-weight: 600;
}

/* CTA Button */
.cta-wrapper {
  margin-top: 40px;
}

/* HOW IT WORKS */
.how-it-works {
    padding: 50px  0;
    background-color: #f4f4f4;
    overflow: hidden;
}

.steps-header {
    text-align: center;
    margin-bottom: 80px;
}

.steps-header p {
    font-family: var(--font-body);
    font-weight: 400;
    font-size: 12px;
        color: #666;
}

.steps-header h2 {
    font-family: var(--font-heading);
    font-size: 42px;
    font-weight: 500;
    margin-bottom: 20px;
}

.steps-header span {
background: linear-gradient(25deg, #FE4A97 17%, #fc68a8 32%, #eb8685 56%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}

.steps-timeline {
    position: relative;
    height: 450px;
    width: 100%;
    max-width: 1500px; 
    margin: 0 auto;
}

.timeline-path {
    position: absolute;
    left: 50%;
    width: 110%;
    transform: translateX(-50%);
    z-index: 1;
    top: -10%;
}

.timeline-step {
    position: absolute;
    z-index: 2;
    width: 220px;
}

/* Individual Step Positioning */
.step-one { top: 36%; left: 2%; }
.step-two { top: -10%; left: 32%; }
.step-three { top: 32%; left: 54%; }
.step-four { top: -1%; left: 79%; }

/* Content Wrapper */
.step-content {
    position: relative;
    padding-top: 80px; 
    display: flex;
    flex-direction: column;
}


.step-one-num {
    left: 130px; 
}
.step-one-content {
    padding-top: 145px;
}

.step-one-cloud { 
    margin-top: -230px;
      margin-left: -8px; 
}

.step-number-img {
    position: absolute;
    top: -10px;
    right: 0;
    width: 80px;
    z-index: -1;
}


.step-two-num {
    right: 5px; 
}

.timeline-step .step-three-num {
    width: 90px;
    right: 5px; 
    top: -19px;
}

.step-three-cloud { 
    margin-top: -200px;
      margin-left: 2px; 
}
.step-three-content {
    padding-top: 85px;
}

.step-four-content {
    padding-top: 100px;
    transform: translateX(45px);
}
.step-four-num {
    position: absolute;
    right: 45px; 
    top: -10px;
}
.step-four-cloud { 
    margin-top: -225px;
      margin-left: 10px; 
}

.cloud-icon {
    width: 50px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    margin-left: -6px;
}

/* Typography */
.step-content h3 {
    font-size: 16px;
    margin-bottom: 15px;
    color: #1a1a1a;
}

.step-content p {
    font-size: 12px;
    color: #666;
    line-height: 1.6;
    font-weight: 500;
}

.step-tag {
    display: block;
    margin-top: 10px;
    font-size: 11px;
    font-weight: 700;
    color: #fa7a77;
    text-transform: uppercase;
    margin-bottom: 10px;
}



/* ================= REVIEW SECTION ================= */
.testimonials {
    padding: 50px 0;
    background: white;
    text-align: center;
    position: relative;
    overflow-x: hidden;
}

.testimonials-title{
    font-size:42px;
    margin-bottom:10px;
    font-family: var(--font-heading);
}

.testimonials-title span{
 background: linear-gradient(25deg, #eb8685 17%, #fc68a8 32%, #ff66a8 56%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}

.testimonials-subtitle{
    font-size:14px;
    color:rgba(79, 79, 79, 1);

    margin-bottom:40px;
    font-family: var(--font-body);
    font-weight: 500;
}

.testimonial-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.top-row {
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

.bottom-row {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.testimonial-card {
    background-color: #F6F6F6;
    padding: 40px;
    border-radius: 12px;
    text-align: left;
    flex: 0 0 400px; 
    display: flex;
    flex-direction: column;
   
}
.testimonials::before,
.testimonials::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 15%; /* Side fade width */
    z-index: 2;
    pointer-events: none;
}

.testimonials::before {
    left: 0;
    background: linear-gradient(to right, white 10%, rgba(255,255,255,0));
}

.testimonials::after {
    right: 0;
    background: linear-gradient(to left, white 10%, rgba(255,255,255,0));
}

.testimonial-text{
    font-size:12px;
    color: rgba(79, 79, 79, 1);
    line-height:1.6;
    margin-bottom:18px;
    flex-grow: 1;
   font-weight: 500;
}

.testimonial-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.testimonial-name {
    font-size: 14px;
    color: #ff6a8a;
    margin: 0;
    line-height: 1.2;
}

.stars {
 background: linear-gradient(
90deg,
#c08af3 0%,
#ff6a8a 15%,
#FE4A97 100%
);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    display: inline-block;
    font-size: 18px;
    letter-spacing: 3px;
    line-height: 1.2;
}


/* ================= BLOG SECTION ================= */
.blog-section {
    padding: 80px 0;
    text-align: center;
    background-color: #F6F6F6;
}

.blog-title {
    font-size: 48px;
    color: #f17094;
    margin-bottom: 20px;
    font-family: var(--font-heading);
}

.blog-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.blog-card {
    flex: 1;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    text-align: left;
    position: relative;
     display: inline-block;
    /* Top: 8px, Sides: 3px, Bottom: 3px */
    padding: 15px 4px 4px 4px; 
    background: linear-gradient(
        90deg, 
        rgba(164, 84, 239, 0.799) 0%, 
        rgba(250, 122, 119, 1) 50%, 
          rgba(254, 74, 151, 1)100%
    )border-box;
}

.blog-image {
  background:white; 
    overflow: hidden;
    border-top-left-radius: 12px; 
    border-top-right-radius: 12px;
}

.blog-image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
    border-radius: 12px;
    margin-bottom: 5px;
}

.blog-content {
    padding: 25px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    background:white;
    border-radius: 0 0 12px 12px; 

}

.blog-category {
    font-size: 10px;
    color: #aaa;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.blog-heading {
    font-size: 18px;
    color: #111;
    font-weight: 700;
     margin-top: 10px;
     margin-bottom: 5px;
}

.blog-desc {
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
    line-height: 1.5;
}

.read-more {
    font-size: 13px;
    color: #111;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
}

.read-more:hover {
    color: #FE4A97;
}

/* Dots at the bottom */
.blog-dots {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 8px;
     align-items: center;  
}

.dot {
    width: 8px;
    height: 8px;
    background-color: #FA7A77;
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background-color: #FA7A77;
    width: 12px; 
    height: 12px;
    border-radius: 10px;
}
/* ===== FAQ SECTION ===== */

.faq{
    padding:50px 0;
    background:white;
    text-align:center;
    margin-bottom: 100px;
}


.faq-title{
    font-size:50px;
    margin-bottom:15px;
    font-family: var(--font-heading);
}

.faq-subtitle{
    color:#777;
    font-size:14px;
    max-width:400px;
    margin:0 auto 40px auto;
    font-weight: 500;
}

.contact-link{
    color:#ff6b6b;
    text-decoration:none;
    font-weight:500;
}

.contact-link:hover{
    text-decoration:underline;
}

/* GRID */

.faq-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:auto auto auto;
    gap:25px;
    max-width:1180px;
    margin:auto;
}

/* COLUMN */

.faq-column{
    display:flex;
    flex-direction:column;
    gap:20px;
}

/* CARD */

.faq-card{
    display:flex;
    align-items:center;
    gap:15px;
    background:white;
    border:1px solid #E5E5E5;
    padding:20px;
    border-radius:12px;
    text-align:left;
    transition:0.3s;
}

/* NUMBER */

.faq-number{
    width:40px;
    height:40px;
    border-radius:50%;
    background:#f1f1f1;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:14px;
    color:#ff6b6b;
    font-weight:600;
    flex-shrink:0; 
}

/* ACTIVE CARD */

.faq-card.active{
    align-items:flex-start;
    border:1px solid #ff6b6b;
    box-shadow:0 10px 20px rgba(0,0,0,0.25);
    background-color:#F6F6F6;
    grid-column:2;
    grid-row:1 / span 2;
}

.faq-card:nth-child(5){
    grid-column:2;
}
.active-num{
    background:#ff6b6b;
    color:white;
}

/* CONTENT */

.faq-content h4{
    font-size:21px;
    margin-bottom:15px;
    font-weight: 500;
}

.faq-content p{
    font-size:15px;
    color:#777;
    line-height:1.6;
    font-weight: 500;
}


/* ================= CTA SECTION ================= */

.cta-section{
    padding:50px 0;
   background: linear-gradient(
        to bottom,
         white 50%,
        #f6f6f6 50%
    );
}

/* CTA BOX */

.cta-box{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:60px;
    border-radius:22px;
    position: relative;
    background:#fff;
    border:3px solid transparent;
      border-width:14px 6px 6px 6px;
     background: linear-gradient(#fff, #fff) padding-box, 
              linear-gradient(90deg, rgba(165, 84, 239, 1) 0%, rgba(250, 122, 119, 1) 50%, rgba(254, 74, 151, 1) 100%) border-box;

    background-origin:border-box;
    background-clip:padding-box,border-box;
     overflow:hidden; 
    
}

/* CONTENT */

.cta-content h2{
    font-size:52px;
    margin-bottom:20px;
    font-weight: 500;
    font-family: var(--font-heading);
}
.btn-arrow{
    width: 16px;
}
.demo{
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.btn-arrow{
    width: 14px;
}

/* IMAGE */
.cta-image{
    position:absolute;
    left: 380px;
    bottom: -340px;
}

/* normal sphere */
.sphere-main{
    width:1100px;
    position:relative;
    z-index:2;
}

/* blur layer  */
.sphere-blur{
    width:1100px;
    position:absolute;
    top:5px;
    right:50px;
    filter: blur(80px);
    z-index:1;
}


/* FOOTER  */

.footer {
  background: #f4f4f4 ;
  
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1.5fr 0.8fr 0.8fr 0.8fr 0.8fr;
  gap: 40px;
  padding-bottom: 20px;
  padding-left: 25px;
}

.footer h3,
.footer h4 {
    font-size: 20px;
    font-weight: 600;
    color: #1a1a1a;
    margin-bottom: 38px;
    position: relative;
    display: inline-block;
}

.footer h3::after,
.footer h4::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 80px;
    height: 2px;
    background: #ff5a7a;
}

.footer h3::before,
.footer h4::before {
    content: "";
    position: absolute;
    left:80px;
    bottom: -11px;
    width: 5px;
    height: 5px;
    border: 2px solid #ff5a7a;
    border-radius: 50%;
    background: #f7f7f9;
    z-index: 1;
}

.footer-newsletter p {
  font-size: 14px;
  color: #666;
  margin-bottom: 25px;
  line-height: 1.5;
  font-weight: 400;
}

.newsletter-form {
  display: flex;
  gap: 12px;
  align-items: center;
}

.input-box {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 50px;
  padding: 8px 8px;
  border: 1px solid #e0e0e0;
  flex: 1;
}

.input-box input::placeholder{
    opacity: 0.7;
}
.input-box .btnGet {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px; 
    font-size: 13px;
    white-space: nowrap;
    border: none;
    cursor: pointer;  
}

.input-box img {
  width: 18px;
  margin-right: 12px;
  opacity: 0.6;
}

.input-box input {
  border: none;
  outline: none;
  font-size: 14px;
  width: 100%;
  color: #333;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  margin-bottom: 12px;
}

.footer-col ul li a {
  text-decoration: none;
  color: #666;
  font-size: 14px;
  transition: color 0.3s ease;
  font-weight: 400;
}

.footer-col ul li a:hover {
  color: #fa7a77;
}

.footer-bottom {
  padding-bottom: 15px ;
}
.footer-bottom .bottom-flex p{
    color: black;
}

.bottom-flex {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  
}

.footer-links a {
  margin-left: 30px;
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;

}

.footer-links a:hover {
  color: blue;
}

/* ================= RESPONSIVE ================= */


/* Small Mobile */
@media (max-width:850px){


/* hide desktop nav */
.nav-links{
    position:absolute;
    top:80px;
    left: 0;
    width:100%;
    height:90vh;
    background:#F6F6F6;
    display:none;
    padding:20px;
    z-index:999;
    flex-direction: column; 
}


/* vertical menu */
.nav-links ul{
    display:flex;
    flex-direction:column;
    gap:15px;
    align-items:flex-start;
}

/* menu items */
.nav-links ul li{ 
    padding:8px 0;
}

/* last item */
.nav-links ul li:last-child{
    border-bottom:none;
}

/* open menu */
.nav-links.active{
    display:block;
}

/* hide right buttons */
  .nav-actions .btn-outline,
    .nav-actions .btn-primary {
        display: none; 
    }
    
    .nav-actions .login {
        display: inline-block; 
         background: linear-gradient(
        90deg,
        hsl(271, 83%, 63%) 0%,
        #FA7A77 50%,
        #fe4a98 100%
    );
    opacity: 0.9;
    color: #FFFFFF;
     padding: 5px 15px;
    border-radius: 25px;
    text-decoration: none;
    margin-left: -50px;
    cursor: pointer;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .nav-container {
        display: flex;
        justify-content: space-between; /* Logo left, Actions group right */
        align-items: center;
    }

    /* Actions group (Login + Hamburger) */
    .nav-actions {
        display: flex;
        align-items: center;
        gap: 15px; 
        margin-left: auto; 
    }

.dropdown-panel{
opacity: 1;
    transform: none;
    pointer-events: auto;
    background:#F6F6F6;
}

/* Features dropdown grid */
.features-grid{
    display:flex;
    flex-direction:column;
    gap:0;
    margin-bottom: 20px;
}
.feature-item p{
    display:none;
}
.feature-item{
    padding:6px 0;
    border-bottom:1px solid #d3cfcf;
    width:100%;
}

.feature-item:last-child{
    border-bottom:none;
}
.panel-title {
    margin-bottom: 40px;
    
}
.feature-item h4::after {
   display: none;
    
}
.feature-item h4{
    margin-top: 5px;
}


.resources-panel .features-grid,
.company-panel .features-grid{
   display: flex;
   flex-direction: column;
   row-gap: 10px;
}


.mobile-back{
    display:flex;
    align-items:center;
    gap:10px;
    font-size:16px;
    font-weight:600;
    margin-bottom:20px;
    cursor:pointer;
}


.hero {
    padding: 20px 20px 0;
}


.hero h1 {
    font-size: 30px;
}


.hero p {
    font-size: 12px;
    width: 300px;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 60px;
}


/* ================= HERO IMAGE ================= */
.hero-image {
    position: relative;
    display: flex;
    justify-content: center;
}

/* Image */
.hero-image img {
    width: 100%;
    max-width: 950px;
    border-radius: 30px;
    position: relative;
    z-index: 2;
    border: 10px solid #ada6a65d;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.08);
}

/* Common Glow Style */
.glow {
    position: absolute;
    z-index: 0;
    filter: blur(50px);
    pointer-events: none;
   
}

/* Top Glow */
.glow-top {
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
    width: 65%;
    height: 55%;

    background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(229, 68, 114, 0.47) 0%,
        rgba(229, 68, 114, 0) 100%
    );
}

/* Left Glow */
.glow-left {
    top: 30%;
    left: -90px;
    transform: translateY(-50%);
    width: 45%;
    height: 75%;

    background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(229, 68, 114, 0.35) 0%,
        rgba(229, 68, 114, 0) 100%
    );
}

/* Right Glow */
.glow-right {
    top: 30%;
    right: -90px;
    transform: translateY(-50%);
    width: 45%;
    height: 75%;

    background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(229, 68, 114, 0.35) 0%,
        rgba(229, 68, 114, 0) 100%
    );
}

.hero-image::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 250px;

   background: linear-gradient(
    to bottom,
    rgba(255,255,255,0) 10%,
    rgba(247,247,249,0.6) 50%,
    #F7F7F9 70%
);
    border-radius: 30px;
    pointer-events: none;
    z-index: 3;
}

.detail-row {
    display: flex;
    flex-direction: column; 
    gap: 30px;             
    align-items: center;  
    text-align: center;    
}

.detail-row .detail-text {
    max-width: 90%;     
    margin-bottom: 20px;    
}

.detail-row .detail-text h3 {
    white-space: nowrap;   
    margin-bottom: 10px;     
}



.detail-row.reversed{
    flex-direction:column;
}

.detail-image{
    width:100%;
    max-width:100%;
   
}

.detail-image img{
    width:100%;
    max-width:100%;
}

.features-detail{
    margin-top:0;
      padding: 10px 0;
}

.section-heading {

    font-size: 22px;
    margin-bottom: 30px;
 
}

.detail-text p {
    font-size: 12px;
    text-align: justify;
    margin-bottom: 20px;

}
  .desktop-break{
        display:none;
    }

.steps-section {
  padding: 10px  0;
  border-radius: 70px;

}


/* Title */
.section-title {
  font-size: 24px;
}


.section-subtitle {
  margin-bottom: 40px;
}



/* HOW IT WORKS */
.steps-header {
   
    margin-bottom: 10px;
}

.steps-header h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.steps-timeline{
    height:auto;
    display:flex;
    flex-direction:column;
    gap:60px;
}


/* hide curve line */
.timeline-path{
    display:none;
}

.timeline-step{
    position:relative;
    width:240px;
    margin:0 auto;
    left:unset;
    top:unset;
}


/* reset desktop spacing */
.step-one-content,
.step-two-content,
.step-three-content,
.step-four-content{
    padding-top:0;
    transform:none;
}

.step-content{
    display:flex;
    flex-direction:column;
    align-items:center; 
}

.step-number-img{
    position:relative;
    width:55px;
    margin-bottom:0;
}

/* override desktop rule */
.timeline-step .step-three-num{
    width:65px;
    top:0;
}
.step-four-num{
    margin-bottom: 30px;
    margin-top: 20px;
}
/* reset custom offsets */
.step-one-num,
.step-two-num,
.step-three-num,
.step-four-num{
    top:0;
    right:auto;
    left:auto;
}


/* cloud icon */
.cloud-wrapper{
    margin-top:10px;
}

.step-one-cloud,
.step-two-cloud,
.step-three-cloud,
.step-four-cloud{
    margin:0;
}

.cloud-icon{
    width:40px;
}
.step-content h3{
    margin-bottom:8px;
}
/* paragraph fix */
.step-content p br{
    display:none;
}
.step-tag{
    margin-top:6px;   
    margin-bottom:4px;
}
.step-content p{
    text-align: justify;
}

/* ================= REVIEW SECTION ================= */
.testimonial-grid .top-row-wrapper,
    .testimonial-grid .bottom-row-wrapper {
        overflow: hidden;
        width: 100%;
    }

    .testimonial-grid .top-row,
    .testimonial-grid .bottom-row {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        gap: 0;
        transition: transform 0.3s ease;
    }

    .testimonial-grid .top-row .testimonial-card,
    .testimonial-grid .bottom-row .testimonial-card {
        flex: 0 0 100%;
        min-width: 100%;
        max-width: 100%;
        padding: 20px;
        margin: 0;
    }

  .top-row, .bottom-row {
        display: flex;
        width: 100%; /* Slider wrapper ke hisab se */
        transition: transform 0.4s ease-out;
    }

    
    .bottom-row {
    width: 100%;
    position: relative;
    left: 0;
    transform: none;
    display: flex;
    gap: 0;
}

    .testimonial-card {
        flex: 0 0 100%; /* Full width cards loop ke liye sabse best hain */
        min-width: 100%;
        box-sizing: border-box;
    }
  




.top-row br,
.bottom-row br{
    display: none;
}
.testimonials::before,
.testimonials::after {
   display: none;
}

.blog-section { padding: 20px 0;
 }

.blog-container{
    flex-direction: column;
    align-items: center;
}

.blog-card{
    width:100%;
}

.blog-title{
    font-size:28px;
}


.steps-grid{
grid-template-columns:1fr;
}



/* ===== FAQ SECTION ===== */

.faq{
    margin-bottom: 20px;
}


.faq-title{
    font-size:22px;
    margin-bottom:8px;
}

.faq-subtitle{
    font-size:10px;
}
.faq-grid{
    grid-template-columns:1fr;
    gap:20px;
}

/* reset desktop grid placements */
.faq-card.active{
    grid-column:auto;
    grid-row:auto;
}

.faq-card:nth-child(5){
    grid-column:auto;
}


.faq-item{
    width:100%;
}
.faq-card.active .faq-content p{
    font-size:13px;
}



/* ================= CTA SECTION ================= */
/* Section padding */
.cta-section{
    padding:40px 2px;
}

/* CTA Box layout */
.cta-box{
    flex-direction:column;
    align-items:center;
    text-align:center;
    padding:40px 25px;
  
}

/* Heading size */
.cta-content h2{
    font-size:24px;
}
.cta-content br{
    display: none;
}
/* Button alignment */
.demo{
    justify-content:center;
    
}

.cta-box{
    overflow:hidden;
}

.cta-image{
    position:relative;
    left:0;
    bottom:-150px;
     margin-top: -180px;
}

.sphere-main{
    width:420px;
}

.sphere-blur{
    width:260px;
    position:absolute;
    top:10px;
    left:0;
    filter:blur(40px);
    z-index:1;
}



 .footer-container {
        display: block;
    }

    /* Footer newsletter stays full width */
    .footer-newsletter {
        width: 90%;
        margin-bottom: 20px;
    }

    /* Footer columns: 2 per row */
    .footer-col {
        width: 40%; 
        display: inline-block; 
        vertical-align: top;
        margin-bottom: 20px;
        margin-right: 8%; 
    }


.bottom-flex{
    flex-direction:column;
    gap:10px;
    text-align:center;
}

.footer-links a{
    margin-left:10px;
}

}


/* Large desktop / widescreen */
@media (min-width: 851px) and (max-width: 1143px) 
{

  .nav-actions .btn-outline,
    .nav-actions .btn-primary {
        display: none; 
    }
       .nav-actions .login {
        display: inline-block; 
         background: linear-gradient(
        90deg,
        hsl(271, 83%, 63%) 0%,
        #FA7A77 50%,
        #fe4a98 100%
    );
    opacity: 0.9;
    color: #FFFFFF;
     padding: 5px 15px;
    border-radius: 25px;
    text-decoration: none;
    margin-left: -50px;
    cursor: pointer;
    }



/* HOW IT WORKS */
.steps-header {
   
    margin-bottom: 10px;
}

.steps-header h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.steps-timeline{
    height:auto;
    display:flex;
    flex-direction:column;
    gap:60px;
}


/* hide curve line */
.timeline-path{
    display:none;
}

.timeline-step{
    position:relative;
    width:240px;
    margin:0 auto;
    left:unset;
    top:unset;
}


/* reset desktop spacing */
.step-one-content,
.step-two-content,
.step-three-content,
.step-four-content{
    padding-top:0;
    transform:none;
}

.step-content{
    display:flex;
    flex-direction:column;
    align-items:center; 
}

.step-number-img{
    position:relative;
    width:55px;
    margin-bottom:0;
}

/* override desktop rule */
.timeline-step .step-three-num{
    width:65px;
    top:0;
}
.step-four-num{
    margin-bottom: 30px;
    margin-top: 20px;
}
/* reset custom offsets */
.step-one-num,
.step-two-num,
.step-three-num,
.step-four-num{
    top:0;
    right:auto;
    left:auto;
}


/* cloud icon */
.cloud-wrapper{
    margin-top:10px;
}

.step-one-cloud,
.step-two-cloud,
.step-three-cloud,
.step-four-cloud{
    margin:0;
}

.cloud-icon{
    width:40px;
}
.step-content h3{
    margin-bottom:8px;
}
/* paragraph fix */
.step-content p br{
    display:none;
}
.step-tag{
    margin-top:6px;   
    margin-bottom:4px;
}
.step-content p{
    text-align: justify;
}
}