/* ================= BUTTONS ================= */
.btn-primary {
    position: relative; 
    background: linear-gradient(
        90deg,
        #a454efd3 0%,
        #FA7A77 50%,
        #fe4a98d2 100%
    );
    opacity: 0.9;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    transition: 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.5);
    overflow: hidden; 
}

/* Overlay layer using pseudo-element */
.btn-primary::before {
    content: "";
    position: absolute;
    inset: 0; /* top:0; right:0; bottom:0; left:0 */
    background: rgba(255, 255, 255, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 25px;
}

/* Hover effect */
.btn-primary:hover::before {
    opacity: 1; 
}


.btn-outline {
    border: 1px solid #ddd;
    padding: 10px 18px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 14px;
    color: #444;
    background:transparent;
}
.btn-outline:hover{
    border: 1px solid rgba(250, 122, 119, 1);
    color: rgba(250, 122, 119, 1);
}
