/* ================= BUTTONS ================= */
.btn-primary {
    background: linear-gradient(
        90deg,
         #A554EF 0%,
        #FA7A77 50%,
        #FE4A97  100%
    );
    opacity: 0.9;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    transition: 0.3s ease;

    border: 1px solid rgba(255, 255, 255, 0.5);
}

.btn-primary:hover {
    transform: translateY(-3px);
}

.btn-outline {
    border: 1px solid #ddd;
    padding: 10px 18px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 14px;
    color: #444;
    background:transparent;
}